<div *ngIf="dataLoaded">
    <div class="SUPER_GLOBAL"></div>
    <link rel="stylesheet" href="../../assets/GoogleFonts/font.css">
    <app-nav-top></app-nav-top>
    <app-sidebar-small-light></app-sidebar-small-light>
    <main>
        <p class="text-bold text-4xl headlineDiv">Was bedeuted</p>
        <p id="word" class="text-bold text-8xl wordDiv">giftig, toxisch</p>

        <div class="inputWord" (click)="inputAreaClicked()">
            <!-- Notice germanText is the variable in the currect system, in the new version use englischWord here !  -->
            <input type="text" id="germanText" [(ngModel)]="input" (focus)="onFocus()" (blur)="onBlur()">
            <div class="span" id="movingSpan">In englisch ?</div>
        </div>
        <button class="compareBTN" id="cBTN">Compare</button>

        <div class="analyse">
            <div id="first_part" class="mr-4">Wrong !, </div>
            <div class="rightElement">
                o
            </div>
            <div class="wrongElement">
                c
            </div>
            <div class="rightElement">
                c
            </div>
            <div class="wrongElement">
                a
            </div>
            <div class="wrongElement">
                s
            </div>
            <div class="rightElement">
                s
            </div>
            <div class="wrongElement">
                i
            </div>
            <div class="rightElement">
                o
            </div>
            <div class="rightElement">
                n
            </div>
           
            <div id="rest" class="ml-5">
                would be correct
            </div>
        </div>
    </main>
</div>

