/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

    html {
      font-size: 62.5%; }
    body {
      font-size: 1.5em;
      font-family: Lexend;
      background-color: var(--background);
    }
    
    