.gradient {
    background: linear-gradient(90deg, #5110ce 0%, rgb(242, 242, 242) 100%);
  }
  
  .bgRegister {
    background: rgb(79, 70, 229);
  }
  
  @media only screen and (width > 2200){
    #heroContainer{
      margin-left: 20vw;
    }
  }

  @media only screen and (width > 1500){
    #heroContainer{
      margin-left: 7.5vw;
    }
  }